biopython==1.79
gemmi==0.7.3
matplotlib==3.9.4
meeko==0.6.1
munkres==1.1.4
numpy==1.23.5
pdb-tools==2.5.0
ply==3.11
ProDy==2.4.1
pycairo==1.27.0
pymol==3.0.0
PyQt5==5.15.10
scipy==1.13.1
zstandard==0.23.0
